body {
  color: black;  
  background-color: white; 
  font-family: Verdana,Arial,Helvetica,sans-serif;
  margin: 0px;  
  padding: 0px;
  font-size: 12px;
}

p {
    padding: 0px;
}

#header {
    height: 75px;
    width: 1000px;
    background: green;
}

#content {
    background: blue;
    width: 700px;
	float: left;
}

#menu {
    background: yellow;
    width: 150px;
    float: left;
}

#info {
    background: violet;
    width: 150px;
    float: left;
}

#footer {
    height: 40px;
    width: 1000px;
    background: red;
    clear: both;
}

