body {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: black;   
  margin: 0;
  padding: 0;
}

#wrapper {
	width: 100%;
    min-width: 1000px;
    max-width: 2000px;
    margin: 0 auto;
}

#header {
	float: left;
	width: 100%;
    background: red;
}

#mainNav{
    float: left;
    height: 40px;
    width: 100%;
	background-color: red;
	text-align: center;
}

#secondNav {
	float: left;
    background-color: yellow;
    width: 150px;
	margin-left:-100%;
}

#contentliquid {
    float: left;
    width: 100%;
    background-color: blue;
}

#content {
    background-color: blue;
    margin-left: 150px;
    margin-right: 150px;
    padding: 5px;
}

#user {
    background-color: violet;
    width: 150px;
    float: left;
    margin-left: -150px;
}

#footer {
  clear: both;
  height: 40px;
  width: 100%;
  background-color: red;
}

img.centerd{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

img.content{
	width: 250px;
	
}

li.mainNav
{
	float: left;
	list-style-type: none;
	display: block;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	width: 8em;
	text-align:center;
}


p#language
{
	text-align: right;	
}


/* Forms */

legend {
    background: red;
    border: 1px solid black;
    border-right-width: 2px;
    border-bottom-width: 2px;
    font-weight: bold;
    margin-bottom: 4px;
    padding: 4px;
}

label.registration, label.login {
    display: block;
    float: left;
    width: 15em;
}

input {
    background: white;
    border: 1px solid black;
    margin: 3px 0;
    padding: 3px 3px;
}

input:active, input:focus, input:hover { 
    background: lightgrey;
}

.inputError {
	background: #FF4040;
	border: 1px solid red;
}

.inputOK {
	background: lightgreen;
	border: 1px solid green;
}

label {
    margin: 5px 0;
}