body {
  color: black;  
  background-color: white; 
  font-family: Verdana,Arial,Helvetica,sans-serif;
  margin: 0;  
  font-size: 12px;
}

p {
    padding: 10px;
}

#header {
    background: red;
}

#mainNav{
	height: 20px;
	background: red;
}

#content {
    background: blue;
    min-width: 700px;
    min-height: 50px;
}

#secondNav {
    background: yellow;
    width: 150px;
    min-height: 50px;
    float: left;
}

#user {
    background: violet;
    width: 150px;
    float: right;
}

#footer {
    height: 40px;
    background: red;
    clear: both;
}

img.centerd{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

li.mainNav
{
	float: left;
	list-style-type: none;
}
